<!DOCTYPE html>
<html>
<head>
  <title>LivePZ: <%= name %></title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script type="text/javascript">
    var history = <%= history.to_json %>,
        start = <%= start %>,
        values = history.reduce(function (acc, val) {
          acc.push(acc[acc.length - 1] + val[0]);
          return acc;
        }, [start]);
  </script>
  <script type="text/javascript" src="/livepz.js"></script>
  </script>
</head>
<body>
  <h1>LivePZ: <%= name %></h1>
  <div id="chart"><div id="info"></div><div id="line"></div></div>
</body>
</html>
